<div style="position: relative; display: block; width: 100%">
    <label for="{{id}}" style="text-transform: uppercase; font-size: 12px">
        {{title}}
    </label>
    <div
        style="
            display: grid;
            position: relative;
            grid-template-columns: 32px 1fr;
            gap: 10px;
        "
    >
        <div
            style="
                position: relative;
                width: 100%;
                height: 32px;
                padding: 1px;
                background-color: #ccc;
                cursor: pointer;
            "
        >
            <div
                id="{{id}}_picker_open_btn"
                style="width: 100%; height: 100%; background-color: {{colorClass}}"
                onclick="{{id}}_picker_onClick(event)"
            ></div>
            <div
                id="{{id}}_picker"
                style="
                    position: absolute;
                    top: 38px;
                    left: 0;
                    border: 1px solid #ccc;
                    background-color: black;
                    color: white;
                    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
                    display: flex;
                    gap: 10px;
                    flex-direction: column;
                    width: 200px;
                    padding: 10px;
                    pointer-events: none;
                    opacity: 0;
                "
            >
                {{slider_r}} {{slider_g}} {{slider_b}}
            </div>
        </div>
        <div style="position: relative">
            <input
                id="{{id}}"
                style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 32px;
                    padding: 0 10px 0 24px;
                    font-size: 16px;
                    border: 1px solid #ccc;
                    background-color: var(--c-bg);
                    color: var(--c-fg);
                    outline: none;
                "
                value="{{colorValue}}"
                placeholder="Hex color"
            />
            <div
                style="
                    position: absolute;
                    top: 1px;
                    left: 12px;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0.5;
                "
            >
                #
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', () => {
        let pickerVisible = false;
        const pickerId = '{{id}}_picker';
        const pickerEl = document.getElementById(pickerId);
        const pickerOpenBtnEl = document.getElementById(
            '{{id}}_picker_open_btn',
        );
        const inputEl = document.getElementById('{{id}}');
        {
            const color = Color.fromHex(inputEl.value);
            console.log(color);
            window['{{id}}_slider_r_onSetValue'](color ? color.r : 0);
            window['{{id}}_slider_g_onSetValue'](color ? color.g : 0);
            window['{{id}}_slider_b_onSetValue'](color ? color.b : 0);
        }
        let lock = false;

        window['{{id}}_picker_onClick'] = (event) => {
            lock = true;
            setTimeout(() => {
                if (pickerVisible) {
                    pickerVisible = false;
                    pickerEl.style.opacity = '0';
                    pickerEl.style['pointer-events'] = 'none';
                } else {
                    pickerVisible = true;
                    pickerEl.style.opacity = '1';
                    pickerEl.style['pointer-events'] = 'auto';
                }
                lock = false;
            }, 20);
        };

        window.addEventListener('click', (event) => {
            if (!pickerVisible || lock) {
                return;
            }
            const el = findParentElById(event.target, pickerId);
            if (el) {
                return;
            }
            pickerVisible = false;
            pickerEl.style.opacity = '0';
            pickerEl.style['pointer-events'] = 'none';
        });

        window['{{id}}_slider_r_setValue'] = (value) => {
            let color = window.Color.fromHex(inputEl.value);
            if (!color) {
                color = new window.Color(0, 0, 0, 255);
            }
            color.r = value;
            inputEl.value = color.toHex().toUpperCase();
            inputEl.dispatchEvent(new Event('input'));
        };
        window['{{id}}_slider_g_setValue'] = (value) => {
            let color = window.Color.fromHex(inputEl.value);
            if (!color) {
                color = new window.Color(0, 0, 0, 255);
            }
            color.g = value;
            inputEl.value = color.toHex().toUpperCase();
            inputEl.dispatchEvent(new Event('input'));
        };
        window['{{id}}_slider_b_setValue'] = (value) => {
            let color = window.Color.fromHex(inputEl.value);
            if (!color) {
                color = new window.Color(0, 0, 0, 255);
            }
            color.b = value;
            inputEl.value = color.toHex().toUpperCase();
            inputEl.dispatchEvent(new Event('input'));
        };
    });
</script>
